.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}
/*///////////////////////////////////////////////////////                        index*/
*{
    box-sizing:border-box;
}
header{
    color:gray;
    font-family:verdana;
    text-align:center;
    padding-top:0px;
    padding-bottom:0px;
    margin-right:20%;
}
body{
    margin:0;
    padding:0;
    font-family:arial;
    font-weight: bold;
    background-color:rgb(29,29,29);
}
nav{
    margin-bottom: 100px;
    position:fixed;
    width:100%;
    z-index:9999;
    font-size:15px;
    font-family:verdana;
    background-color:rgb(15,15,15);
    
}
ul.topnav{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
ul.topnav li{
    float:right;
}
ul.topnav li a {
    display:block;
    text-decoration:none;
    color:gray;
    padding:22px 20px;
    text-align:center;
}
ul.topnav li a:hover{
    color:white;
    font-size:17px;
}
/*/////////////////////////////////// side menu*/
#side_menu{
    padding-top: 100px;
    padding-bottom: 100%;
    padding-left: 10px;
    background-color:black;
    width:17%;
    position:fixed;
    z-index: 9999;
}
#side_menu a{
    text-decoration: none;
    color:gray;
    margin-left:20px;
}
#side_menu a:hover{
    color:white;
}
/*/////////////////////////////////// sua biblioteca*/
#content{
    margin-left: 17%;
    padding-top: 60px;
}
#music_list{
    
}